@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  padding: 32px 0;
  margin: 0 auto;
  position: absolute;
  z-index: 10;
}

header .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 a {
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  letter-spacing: .5px;
}

h1:not(a) {
  color: #fff;
  font-size: 14px;
  opacity: .8;
}

#menu {
  padding-right: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

#menu:hover {
  color: #a99999;
  transition: .5s ease;
}

.menu { margin-right: 8px; }

/* nav styling starts here */
nav {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  text-align: center;
  transform: translateY(-200%);
  transition: 1s ease;
}

.showNav { transform: translateY(0); }

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li { margin: 10px 0; }

nav ul li a {
  color: #000;
  transition: .5s ease;
}

nav ul li a:hover { transform: scale(.8); }

#close {
  padding: 4px 12px;
  border-radius: 5px;
  position: absolute;
  top: 6%;
  right: 2%;
  background: #beb8b8;
  font-weight: 600;
  cursor: pointer;
  transition: .2s ease;
}

#close:hover { transform: scale(.8); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */

.banner .wrapper { width: 100%; }
.slide-li { position: relative; }

.slide-li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 20;
}

.slide-li p {
  padding: 25px 0;
  color: #a99999;
  font-size: 15px;
  letter-spacing: 3px;
}

.slide-li h2 {
  padding: 0 10px;
  border-top: 1px solid #a99999;
  font-size: 100px;
  font-size: 100;
}

.slide-li p strong {
  color: #fff;
  font-weight: 100;
}

.slide-li img {
  z-index: -10;
  filter: brightness(60%);
}

.slick-slide img { height: 640px; }

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  text-align: center;
}

.slick-dots button {
  padding: 6px;
  margin-right: 15px;
  border: none;
  border-radius: 50%;
  background: #fff;
  font-size: 0;
  outline: none;
  opacity: .4;
}

.slick-dots button:hover,
.slick-dots li.slick-active button {
  opacity: 1;
  transition: .5s ease;
}

.three .wrapper h2,
.article-content h2,
.four .wrapper h2 {
  position: relative;
  color: #fff;
  font-size: 25px;
}

.three .wrapper h2::before,
.article-content h2::before,
.four .wrapper h2::before {
  content: '';
  width: 35%;
  margin: 0 auto;
  border-top: 1px solid #beb8b8;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* section two styling starts here */

.two { background: #f2f2f2; }

.two .wrapper {
  width: 86%;
  padding: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 55px;
}

.article-content {
  padding: 35px 50px;
  background: #fff;
  text-align: center;
}

.article-content small,
.three .wrapper small,
.four .wrapper small {
  color: #beb8b8;
  font-size: 12px;
  letter-spacing: 3px;
}

.article-content h2 {
  margin-top: 14px;
  color: #000;
  font-size: 25px;
}

.article-content h2::before {
  width: 55%;
  top: -5px;
}

.article-content p {
  margin-top: 30px;
  color: #a99999;
  font-size: 14px;
  text-align: left;
  line-height: 25px;
}

.article-content a {
  padding: 8px 20px;
  margin: 30px auto 5px auto;
  border: 2px solid #a99999;
  color: #a99999;
  font-size: 14px;
}

.article-content a:hover {
  background: #a99999;
  color: #fff;
  transition: .5s ease;
}

/* section three styling starts here */

.three {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.three .wrapper {
  width: 100%;
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
}

.three .wrapper h2 {
  margin-top: 20px;
  border-top: none;
}

/* section four styling starts here */

.four { background: #f2f2f2; }

.four .wrapper {
  width: 86%;
  padding: 85px 0;
  text-align: center;
}

.four .wrapper h2 {
  margin-top: 20px;
  top: 0;
  color: #000;
}

.four .wrapper h2::before { width: 50%; }
.four .wrapper small { letter-spacing: 3px; }

.four .wrapper ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 55px;
}

.four .wrapper ul li { border: 15px solid #fff; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { background: #000; }

footer .wrapper {
  width: 100%;
  padding: 60px 0;
  text-align: center;
}

footer .wrapper ul { margin-bottom: 30px; }
footer .wrapper ul li { margin: 0 10px; }

footer .wrapper ul li a {
  color: #beb8b8;
  font-size: 26px;
}

footer .wrapper ul li a:hover {
  color: #fff;
  transition: .5s ease;
}

footer .wrapper span {
  color: #beb8b8;
  font-size: 14px;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .slide-li { height: auto; }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .two .wrapper { grid-template-columns: 1fr; }
  .four .wrapper ul { grid-template-columns: 1fr; }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  header { padding: 20px 0; }
  .slide-li div h2 { font-size: 56px; }
  .slide-li div p { padding: 40px 0 10px 0; }
  .article-content { padding: 20px; }

  .slide-li div p,
  .three .wrapper small,
  .four .wrapper small {
    font-size: 12px;
    letter-spacing: 1px;
  }

  #menu:hover { color: #fff; }
  #close:hover { transform: scale(1); }
  .slick-dots button:hover { opacity: .4; }
  
  .article-content a:hover {
    background: #fff;
    color: #a99999;
  }
  
  footer .wrapper ul li a:hover { color: #beb8b8; }
}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  header { padding: 5px 0; }
  .slide-li div h2 { font-size: 26px; }

  .slide-li div p {
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
  }

  .slick-dots { bottom: 5px; }

  .slick-dots button {
    padding: 4px;
    margin: 0 4px;
  }
}